{% load static %}
<!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>KAÇIRILMAYACAK FIRSATLAR</span>
                        <h2>KALAN SON ODALARINI BAŞKALARI ALMADAN SİZ ALIN!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for rs in random  %}
            {% if rs.odasayisi == 0 %}
                    <div class="col-lg-4">
                    <div style="opacity:0.5" class="blog-item set-bg" data-setbg="{{rs.image.url}}">
                        <div class="bi-text">
                        <span style="background-color:red" class="">TÜKENDİ</span>
                            <span class="b-tag">{{rs.title}}</span>
                            <h4>{{rs.city}}</h4>
                            <div class="b-time"><i class="icon_clock_alt"></i><span class="b-tag">Kalan Oda Sayısı</span> {{rs.odasayisi}}</div>
                        </div>
                    </div>
                    {% else %}
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{{rs.image.url}}">
                        <div class="bi-text">
                            <span class="b-tag">{{rs.title}}</span>
                            <h4><a href="/product/{{rs.id}}/{{rs.slug}}">{{rs.city}}</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i><span class="b-tag">Kalan Oda Sayısı</span> {{rs.odasayisi}}</div>
                        </div>
                    </div>
                    
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->