{% load static %}
  <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                           {% if user.id is not None %}
                           
                           <li>Hoşgeldin {{user.first_name}} <img style="height:30px;width:30px;border-radius:50%" src="{{user.userprofile.image.url}}" alt=""></li>
                           <li> <a style="color:black" href="/user/">Hesabım</a></li>
                           <li> <a style="color:black" href="/logout/">logout</a></li>
                            {% else %}
                            <li> <a style="color:black" href="/login/">Login</a></li>
                            <li> <a style="color:black" href="/signup/">Signup</a></li>
                            
                        </ul>
                        {% endif %}
                    </div
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="//{{setting.facebook}}"><i class="fa fa-facebook"></i></a>
                                <a href="//{{setting.twitter}}"><i class="fa fa-twitter"></i></a>
                                
                            </div>
                            <a href="#" class="bk-btn">Booking Now</a>
                            <div class="language-option">
                                <img src="{%static 'img/flag.jpg' %}" alt="">
                                <span>EN <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">Zi</a></li>
                                        <li><a href="#">Fr</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/home">
                                <img src="{%static 'img/logo.png'%}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="/home">Home</a></li>
                                    <li><a href="./rooms.html">Rooms</a></li>
                                    <li><a href="/hakkimizda">About Us</a></li>
                                    <li><a href="./pages.html">Hoteller</a>
                                    {% load mptt_tags %}
                                    <ul class="dropdown">
                                       {% recursetree category %}
        <li><a href="/category/{{node.id}}/{{node.slug}}/" > {{ node.title }}</a>
           
          
        </li>
  {% if not node.is_leaf_node %}
            
               <ul  class="pl-4"><li> <a href="/category/{{node.slug}}"> {{ children }}</a></li> </ul>
            {% endif %}
            
    {% endrecursetree %}
</ul>
         
                               {% comment %} <ul class="dropdown">
                                        {% for list in category  %}
                                            <li><a href="./room-details.html">{{list.title}}</a></li>
                                           {% endfor %}
                                        </ul> {% endcomment %}
                                    </li>

                                    <li><a href="/iletisim">Contact</a></li>
                                    <form method="post" action="/search/">
                                    {% csrf_token %}
                            <div class="nav-right">
                               <input name="query" class="input"><button class="btn"> <i class="icon_search"></i></button>
                            </div>
                            </form>
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->