  {% load static %}
  <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>{{setting.title}}<br />{{setting.smptemail}}</h2>
                        </div>
                        <p class="f-para">KALİTE  POLİTİKAMIZ:
Hızla gelişen ve farklılaşan otelcilikte sektöründe; sürekli gelişme bilinciyle teknolojiyi yakından takip ederek çevre şartlarını iyi kullanıp, gıda güvenliğini de sağlayıp eğitimli personel ile ekip çalışmalarını ön planda tutarak güleryüz ve güveni müşteri memnuniyetiyle bütünleştirip üstün kalite hizmeti, bir sistem içerisinde planlı ve sürekli olarak sunmak otel politikamızdır.</p>
                        <p class="s-para">İLKELERİMİZ:
Gelişen teknolojiden hizmetlerimizde faydalanarak sürekli iyileştirmeyi gerçekleştirmek.
Çevre şartlarına karşı hassasiyet göstermek.
Gıda üretimimizde hijyen kurallarına ve gıda güvenliğine hassasiyet göstermek.
Eğitimli personel ile kaliteli hizmet sunmak.
Güleryüz ve güveni tüm hizmetlerimizde ön planda tutmak.
Müşteri memnuniyetinde müşteri beklentilerinin üzerinde hizmet sunmak.
Yasal şart ve mevzuatları tam olarak karşılamak.
Üstün kalitede hizmeti ilke olarak benimsemiş bulunmaktayız.</p>
                        <a href="/hakkimizda" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{setting.icon.url}}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
   
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
            
                    {% for ot in fourludata %}
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{{ot.image.url}}">
                            <div class="hr-text">
                                <h3>{{ot.title}}</h3>
                                <h2>{{ot.price}}<span>TL/Gecelik</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Star:</td>
                                            <td>{{ot.star}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Şehir:</td>
                                            <td>{{ot.city}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Servisler</td>
                                            <td>{{ot.roomtypes}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o"></td>
                                            <td class="r-o"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="/product/{{ot.id}}/{{ot.slug}}/" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>Oteller İçin Ne DEDİLER!</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
            {% for rs in comment  %}
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel d-flex flex-direction-row align-items-center justify-content-center">
                        <div class="" style="width: 600px;">
                        
                            <p>{{rs.subject}}</p>
                                
                            <div class="ti-author">
                            
                                <h5>{{rs.comment}}</h5>
                                <p>{{rs.user.username}}</p>
                            </div>
                        <div class="d-flex flex-direction-row align-items-center">
                           <img style="height: 250px;width: 250px;" src="{{rs.user.userprofile.image.url}}" alt="">
                            <span>--></span>
                            <a href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img style="height: 250px;width: 250px;" src="{{rs.product.image.url}}" alt=""></a> 
                        </div>
                        
                        </div>
                   {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
