  {% load static %}
  <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>{{setting.title}}<br />{{setting.smptemail}}</h2>
                        </div>
                        <div height="200px" class="f-para">{{setting.aboutus | safe| slice:":450" }} ..</div>
                        <a href="/hakkimizda" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{setting.icon.url}}" alt="">
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
   
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
            
                    {% for ot in fourludata %}
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{{ot.image.url}}">
                            <div class="hr-text">
                                <h3>{{ot.title}}</h3>
                                <h2>{{ot.price}}<span>TL/Gecelik</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Star:</td>
                                            <td>{{ot.star}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Şehir:</td>
                                            <td>{{ot.city}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Servisler</td>
                                            <td>{{ot.roomtypes}}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o"></td>
                                            <td class="r-o"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="/product/{{ot.id}}/{{ot.slug}}/" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad mt-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>Oteller İçin Ne DEDİLER!</h2>
                    </div>
                </div>
            </div>
            
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                
                
                  
                  {% for rs in comment  %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active text-center">
                    {% else %}
                  <div class="carousel-item">
               {% endif %}
                  <p style="color:black">{{rs.subject}}</p>
                  <h3>{{rs.comment}}</h3>
                  <p>{{rs.user.username}}</p>
                  <div class="d-flex flex-row justify-content-center align-items-center" >
                  <img class="" style="width:300px;height:300px" src="{{rs.user.userprofile.image.url}}" alt="Third slide">
                  <span style="margin:25px;">{{rs.user.username}}   {{rs.product.title}} <br> için yorum yaptı</span>
                  <div class="d-flex flex-column justify-content-center">
                  <a href="/product/{{rs.product.id}}/{{rs.product.slug}}"><img class="" style="width:300px;height:300px" src="{{rs.product.image.url}}" alt="Third slide"></a>
                   <span>{{rs.product.title}}</span>
                </div>
            </div>
                </div>
                  {% endfor %}
                  
                </div>
                <a class="carousel-control-prev"  href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"><</span>
                  <span class="sr-only">Previous</span>
                </a>
                <a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                 <span class="" style="color:black" aria-hidden="true">></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
