{% extends 'homebase.html' %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #f5f1f1;
    }
    .prof{
        color:black;
        transition: all .2s ease-in-out; 

    }
    .prof:hover{
        color:brown;
        margin-left: 5px;
        transform: scale(1.5);
    }
    </style>
{% endblock %}
{% block title %}{{user.username}} Rezervasyonlarım {% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block content %}
 <hr>
 
 <section class="container mb-4">
    
    <div><h1 >User Panel</h1></div>
    <hr>
    <div class="row">
        <div class="col-md-4">{% include "user_panel.html" %}</div>
        <div class="col-md-8">
            <h3>User Reservations</h3>
            <hr>
            <table>
               <tr>
                   <th class="text-left">subject</th>
                   <th class="text-left"> comment</th>
                   <th class="text-left">rate</th>
                   <th class="text-left">create_at</th>
                   <th class="text-left">ip</th>
                   <th class="text-left">status</th>
                  
               </tr>
               <tr>
                {% for rs in comments %}
                 <tr>
                 <td>{{rs.subject}}</td>
               
                 <td>{{rs.comment}}</td>
               
                 <td>{{rs.rate}}</td>
               
                 <td>{{rs.create_at}}</td>
              
                 <td>{{rs.ip}}</td>
                 
                 <td>{{rs.status}}</td>
               
                 
                 <td><a class="btn-default" href="/user/commentdelete/{{rs.id}}">Sil</a></td>
               </tr>
                {% endfor %}
            </tr>
                
            </table>
        </div>
    </div>
</section>

{% endblock %}