{% extends 'homebase.html' %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #f5f1f1;
    }
    .prof{
        color:black;
        transition: all .2s ease-in-out; 

    }
    .prof:hover{
        color:brown;
        margin-left: 5px;
        transform: scale(1.5);
    }
    </style>
{% endblock %}
{% block title %}{{user.username}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block content %}
 <hr>
 
 <section class="container mb-4">
    
    <div><h1 >User Panel</h1></div>
    <hr>
    <div class="row">
        <div class="col-md-4">{% include "user_panel.html" %}</div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
               {{user_form.as_p}}
               {{profile_form.as_p}}
            </fieldset>
            <button type="submit">
                submit
            </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}